- $woo = 'woocommerce';
.alert.alert-danger.alert-dismissible.fade.in(role="alert")
    button.close(type="button", data-dismiss="alert", aria-label="Close")
        span(aria-hidden="true") ×
    - wc_print_notices();
    span
        - _e( 'There are some issues with the items in your cart (shown above). Please go back to the cart page and resolve these issues before checking out.', $woo );
    - do_action( 'woocommerce_cart_has_errors' );
    span
        a.button.wc-backward(href!='<?php echo get_permalink(wc_get_page_id( "cart" ) ); ?>')
            - _e( 'Return To Cart', $woo );