doctype html
html
    head
        include ./header.jade
    body

        section.footer
            .container
                .row
                    include ./blocks/footer.jade
        script(type='text/javascript', src='js/compiled.min.js')