aside.dark-blue.adress
    .aside-container
        .aside-content
            .row.adress-row
                .col-md-4
                    h4 адрес:
                    a(href="#")
                        i.fa.fa-map-marker
                        span Карта
                .col-md-8
                    p г. Киев,
                    p ул. Срибнокильская, 1
                    p (ст. м. Позняки)
            .row.adress-row
                .col-md-4
                    h4 Телефоны:
                    a(href="#")
                        i.glyphicon.glyphicon-phone-alt
                        span Звонок
                .col-md-8
                    p.phone
                        sup 067
                        span 550-11-86
                    p.phone
                        sup 044
                        span 220-06-05
            .row.adress-row
                .col-md-4
                    h4 РЕЖИМ РАБОТЫ:
                .col-md-8
                    table
                        tr
                            td Пн – Пт:
                            td 10:00 – 20:00
                        tr
                            td Сб:
                            td 11:00 – 18:00
                        tr
                            td Вс:
                            td выходной