- global $themename;
- $image_id = get_post_thumbnail_id();
- $image_src = getImage('decoration', '400x210', $image_id);
- $excerpt = $post->post_excerpt;
- $content = $post->post_content;
.page-line.col-md-12.decoration-post
    .page-container.pull-left
        .page-content.pull-left
            .row
                .col-md-6.decoration-post-image
                    - if(!empty($content)):
                    a(href!="<?php print(get_the_permalink()); ?>")
                        img.img-responsive(src!='<?php print($image_src); ?>', alt!='<?php print(get_the_title()); ?>')
                    - else:
                    a
                        img.img-responsive(src!='<?php print($image_src); ?>', alt!='<?php print(get_the_title()); ?>')
                    - endif;
                .col-md-6.decoration-post-text
                    h3
                        - if(!empty($content)):
                        a(href!='<?php print(get_the_permalink()); ?>')
                            - print(get_the_title());
                        - else:
                        - print(get_the_title());
                        - endif;
                    - if(!empty($content)):
                    p
                        - print(get_the_excerpt());
                    a.read-more(href!='<?php print(get_the_permalink()); ?>')
                        - print(__('Read more',$themename));
                    - else:
                    p
                        - print(get_the_excerpt());
                    - endif;