- global $themename;
.modal.fade.mc-question-modal(tabindex='-1', role='dialog', aria-labelledby='questionMCModalLabel', id!="questionMCModal" )
    .modal-dialog(role='document')
        .modal-content
            .modal-header
                button.close(type='button', data-dismiss='modal', aria-label='Close')
                    span(aria-hidden='true') &times;
                h4#questionMCModalLabel.modal-title
                    - print(__('Take a question', $themename));
            .modal-body.mc-question-modal-body
                - print(do_shortcode('[gravityform id="3" name="MCQuestion" title="false" description="false" ajax="true" field_values="post_name='.$post_title.'"]'));