- define('WP_USE_THEMES', false); require_once('../../../wp-load.php'); global $wbpb,$woocommerce;
- ini_set('default_charset', 'UTF-8'); header('Content-Type: application/json');
- $action = $_POST['action']; $ID = $_POST['id'];
- if($action == 'get' && !empty($ID) ):
- $query = $wpdb->get_results("SELECT p.post_title AS title, p.ID, pm.meta_value AS image_id FROM wp_posts AS p LEFT JOIN wp_postmeta AS pm ON (pm.post_id = p.ID) LEFT JOIN wp_postmeta AS ppm ON (ppm.post_id = p.ID) WHERE p.post_type= 'decoration' AND p.post_status = 'publish' AND pm.meta_key = '_thumbnail_id' ORDER BY p.menu_order");
- $items = $query;

- endif;