- define('WP_USE_THEMES', false); require_once('../../../wp-load.php'); global $wbpb,$woocommerce;
- ini_set('default_charset', 'UTF-8'); header('Content-Type: application/json');
- $action = $_POST['action']; $productID = $_POST['product_id']; $quantity = $_POST['quantity'];$key = $_POST['key'];
- if($action == 'add_product' && !empty($productID) && intval($quantity) > 0 ):
    - if($woocommerce->cart->add_to_cart($productID, intval($quantity))):
         - $cart = $woocommerce->cart->get_cart();$data = array(); $i = 0;
         - foreach($cart as $index=>$product):
             - $data['products'][$i]['id'] = $product['product_id'];$data['products'][$i]['key'] = $index;$data['products'][$i]['variation'] = $product['variation_id'];$data['products'][$i]['name'] = $product['data']->post->post_title;$data['products'][$i]['quantity'] = $product['quantity'];$data['products'][$i]['price'] = wc_price($product['line_total']);
             - $i++;
         - endforeach;
         - $data['total_price'] = $woocommerce->cart->get_cart_total();$data['total_count'] = $woocommerce->cart->cart_contents_count;
         - print(json_encode($data));
    - else:
         - print(json_encode(array('status'=>'error','error'=>'woo add error')));
    - endif;
- elseif($action == 'remove_product' && !empty($key)):
    - if($woocommerce->cart->remove_cart_item($key)):
        - $cart = $woocommerce->cart->get_cart();$data = array(); $i = 0;
        - foreach($cart as $index=>$product):
            - $data['products'][$i]['id'] = $product['product_id'];$data['products'][$i]['key'] = $index;$data['products'][$i]['variation'] = $product['variation_id'];$data['products'][$i]['name'] = $product['data']->post->post_title;$data['products'][$i]['quantity'] = $product['quantity'];$data['products'][$i]['price'] = wc_price($product['line_total']);
            - $i++;
        - endforeach;
        - $data['total_price'] = $woocommerce->cart->get_cart_total();$data['total_count'] = $woocommerce->cart->cart_contents_count;
        - print(json_encode($data));
    - else:
        - print(json_encode(array('status'=>'error','error'=>'woo remove error')));
    - endif;
- else:
    - print(json_encode(array('status'=>'error','error'=>'post error')));
- endif;
