- global $themename;
doctype html
html
    head
        - get_header();
    body
        section.slider.head-slider
            include /mixins/slider.jade
        section.header
            include /mixins/header.jade
        section.content
            .container
                .row
                    .col-md-9.main-content
                        include /mixins/page-head.jade
                        .row.master-categories
                            - $args = array('orderby' => 'name','order' => 'ASC','hide_empty' => true, 'exclude' => array(),'number' => '','fields' => 'all','parent'  => 0,'hierarchical' => false, 'offset' => '');
                            - $terms = get_terms('master-type', $args);
                            - if(!empty($terms) && sizeof($terms)>0):
                            - $term_images = get_option('master-type_term_images',$term_images);
                            - foreach($terms as $term):
                            - $image_id = $term_images[$term->term_id];
                            - $image_src = getImage('decoration', '400x210', $image_id);
                            - $title = $term->name;
                            - $description = $term->description;
                            - $permalink = get_term_link($term);
                            include /mixins/master-type-block.jade
                            - endforeach;
                            - endif;
                    .col-md-3.sidebar
                        include /templates/sidebar.jade
        - get_footer();