- /*Template Name: Decoration Service */
doctype html
html
    head
        - get_header();
    body
        section.slider.head-slider
            include /mixins/slider.jade
        section.header
            include /mixins/header.jade
        section.content
            .container
                .row
                    .col-md-12.main-content
                        include /mixins/page-head.jade
                        .row
                            .page-line.col-md-12.interior-info
                                .page-container.pull-left
                                    - if (have_posts()):
                                    - while (have_posts()):
                                    - the_post();
                                    .page-heading
                                        h3
                                            - print(get_the_title());
                                    .page-content.pull-left
                                        .page-text
                                            - $post_image = getPostImage();
                                            - if($post_image):
                                            p
                                                a.lightbox(href!="<?php print($post_image); ?>", data-options!="thumbnail:'<?php print($post_image); ?>'")
                                                    img.alignnone.size-full.img-responsive(src!="<?php print($post_image); ?>", alt!="")
                                            - endif;
                                            - print(get_the_content());
                                    - endwhile;
                                    - endif;
                                    - wp_reset_query();
                            - $args = array('orderby' => 'name','order' => 'ASC','hide_empty' => true, 'exclude' => array(),'number' => '','fields' => 'all','parent'  => '','hierarchical' => false,'child_of' => 0, 'offset' => '');
                            - $terms = get_terms('decoration-type', $args);
                            - $term_images = get_option('decoration-type_term_images',$term_images);
                            - $carousel_title = __('Decoration gallery',$themename);
                            - $button_text = __('See all',$themename);
                            - $button_link = get_post_type_archive_link( 'decoration' );
                            include /mixins/related-carousel-taxonomy.jade
                            - wp_reset_query();
        - get_footer();