- if ( !defined('YITH_WCMC') ) {  exit; }

.checkbox
    input#yith_wcmc_subscribe_me(type="checkbox", name="yith_wcmc_subscribe_me", value="yes", checked)
    label(for="yith_wcmc_subscribe_me")
        - print(esc_html( $checkbox_label ));