- global $themename;
doctype html
html
    head
        - get_header();
    body
        section.slider.head-slider
            include /mixins/slider.jade
        section.header
            include /mixins/header.jade
        section.content
            .container
                .row
                    .col-md-9.main-content
                        include /mixins/page-head.jade
                        .row.master-categories
                            - if (have_posts()):
                            - while (have_posts()):
                            - the_post();
                            include /mixins/master-class-post.jade
                            - $parent_id = $post->ID;
                            - endwhile;
                            - wp_reset_query();
                            - query_posts(array ( 'post_type'=>'master', 'post_parent' => $parent_id ) );
                            - if (have_posts()):
                            - while (have_posts()):
                            - the_post();
                            include /mixins/master-class-block.jade
                            - endwhile;
                            - endif;
                            - wp_reset_query();
                            - endif;
                            - $timeline = get_post_meta($post->ID, 'timeline', true);
                            - if ( $timeline && sizeof( $timeline ) > 0 ):
                            include /mixins/timeline.jade
                            - endif;
                    .col-md-3.sidebar
                        include /templates/sidebar.jade
        - $post_title = get_the_title();
        include /mixins/modal-mc-question.jade
        include /mixins/modal-mc-timetable.jade
        - get_footer();